body {
    background-color: beige;
    font-family: Consolas;
    display: block;
    border-style: solid;
    border-color: brown;
    border-radius: 5%;
}

h1 {
    color: brown;
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    margin-left: 10px;
}

h2 {
    color: burlywood
    margin-left: 10px;
}

h3 {
    color: darkred;
    margin-left: 20px;
}

p {
    color: darkgreen;
    margin-left: 30px;
}